@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@200;300&family=Ubuntu:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:white;
    box-sizing:border-box;
    min-height:100vh;
    align-items:center;
    justify-content:center;
}
/*----------------------------------------navbar-------------------------------------------------------------------------*/

.header .nav ul li {
    list-style: none;
}

.navbar {
    top:0;
    display: flex;
    position:fixed;
    width:100%;
    z-index:1;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color:black;
   
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin-left: 3.2rem;
}

.nav-link{
    text-decoration:none;
    font-size: 1.1rem;
    font-weight: 450;
    color: white;
    padding:6px 8px;
}

.nav-link:hover{
    color:#B1308A;
    background-color:whitesmoke;
    border-radius:3px;
    height:10%;
    width:10%;
    transition:.3s;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 600;
}

@media only screen and (max-width: 900px) {
    .nav-menu {
        list-style:none;
        position: fixed;
        right: -100%;
        top: 4rem;
        flex-direction: column;
        background-color: black;
        width: 100%;
        height:100%;
        text-align: center;
        transition:.8s;
        list-style:none;
        text-decoration:none;
    }


    .nav-menu.active {
        right: 0;
    }

    .nav-item {
        margin: 2rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

/*---------------------------------------home-----------------------------------------------------------------------------*/

.home{
    height:100vh;    
} 
.home::before{
    top: 0;
    content: " ";
    position: absolute;
    background: url("images/home.jpg") no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
}

.homeBox{
    display:flex;
    height: 100%;
    justify-content:center;
    align-items:center;
}
.homeBox::before{
    content: " ";
    position: absolute;
    background-color: black; 
    width:100%;
    height:100%;
    z-index: -1;
    opacity: 0.55;
}
.homeBox .head1{
    color:white;
    font-weight: 800;
    font-size:35px;
    margin-top: 5%;
    text-align:center;
    justify-content: center; 
    align-items: center; 
    font-family: 'Ubuntu', sans-serif;
}
.homeBox .head2{
    color:white;
    font-weight:600;
    font-size:35px;
    text-align:center;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 5%;
    font-family: 'Ubuntu', sans-serif;
}
.homebtn{
    text-align: center;
}
.btn{
    border-radius: 8px;
    background-color: #B1308A;
    border: none;
    color: #16161d;
    text-align: center;
    font-size: 20px;
    font-weight:600;
    padding: 18px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 3%;
    box-shadow: 0.3rem 0 1.5rem #000;
    
  }
  
.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

.btn:hover{
    background-color:#16161d;
    color:#B1308A;
  }
  
  .btn span:after {
    content: ' ';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
  }
  
  .btn:hover span {
    padding-right: 30px;
  }
  
  .btn:hover span:after {
    right: 0;
    color:black;
  }

/* .homebtn{
    text-align: center;  
}

.btn{
    border-radius: 8px;
    background-color: #B1308A;
    border: none;
    color: #16161d;
    text-align: center;
    font-size: 20px;
    font-weight:600;
    padding: 18px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 3%;
    box-shadow: 0.3rem 0 1.5rem #000;
  }
  
.btn .btntext{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

.btn:hover{
    background-color:#16161d;
    color:#B1308A;
  }
  
  .btn .btntext:after {
    content: ' ';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
  }

  .btn a{
    z-index:-1;
      color:black;
  }
  
  .btn:hover .btntext{
    padding-right: 30px;
  }
 
  .btn a:hover{
      color:#B1308A;
      
  }
   */
  @media(max-width:820px){
    .btn{
        margin: 30px;
        padding: 13px;
        width: 180px;
        font-size: 18px;
        font-weight: 700;
    }
  }

  @media(max-width:600px){
    .homeBox .head1{
        margin-top: 50%;
        font-size: 25px;
    }
    .homeBox .head2{
        font-size: 20px;
    }
}

 /*----------------------------------------about us---------------------------------------------------------------------*/
  .about{
      margin-top:0;
      height:100vh;
  }
  
  .about2{
      background-color:white;
      padding-top:20px;
  }
  
  .about2 h1{
      text-align:center;
      color:black;
      font-size:30px;
      font-weight:700;
  }
  
  .dash{
      border:1px solid #B1308A;
      border-radius:80px;
      height:2.6px;
      background-color:#B1308A;
      margin:0 46.2%;
      width:8%;
  }
  
  .info1{
      width: 45%;
      float: left;
      height:80%;
      background-color:#f4f4f4;
      padding: 40px 40px;
      margin-left:40px;
      margin-top:40px;
  }
  .info2{
      width: 45%;
      float: right;
      height:80%;
      background-color:#f4f4f4;
      padding: 40px 40px;
      margin-top:40px;
      margin-right:40px;
  }
  
  .info1 h1{
      color:#B1308A;
      font-size:24px;
  }
  
  .info2 h1{
      color:#B1308A;;
      font-size:24px;
  }
  
  .text1{
      font-size: 18px;
      color: #545454;
      line-height:40px;
      text-align: justify;
      margin-bottom: 25px;
      padding-left:25px;
  }
  .text2{
      font-size: 18px;
      color: #545454;
      line-height:40px;
      text-align: justify;
      margin-bottom: 25px;
      padding-left:25px;
  }


@media(max-width:1100px){
      .about{
          padding-bottom:0;
      }
      
      .about2{
          margin: 10px;
          padding: 10px;
          height: 360px;
          justify-content: center;
          align-items: center;
          align-self: center;
          
      }
      .info1{
          float: none;
          margin: 10px;
          padding: 10px;
          width: 100%;
      }
      .info1 h2{
          font-size: 20px;
          margin: 0px;
          padding: 0px;
      }
      .info1 h1{
          margin: 5px;
          padding: 0px;
          font-size: 20px;
      }
      .info2{
          float: none;
          margin: 10px;
          padding: 10px;
          width: 100%;
      }
      .text1{
          font-size: 15px;
          line-height:30px;
          padding: 2px;
      }
      .text2{
          font-size: 15px;
          line-height: 30px;
          padding: 2px;
      }
  }

  @media(max-width:600px){
    .text1{
        line-height:21px;
        font-size:14px;
    }
    .text2{
        line-height:21px;
        font-size:14px;
    }
}

@media(max-width:400px){
    .text1{
        line-height:16px;
        font-size:12px;
    }
    .text2{
        line-height:16px;
        font-size:12px;
    }
}
  
  /* ------------------------------------------------------image page-------------------------------------------------------- */
  .imgpg{
      height:100%;
      background-image:url("images/imgpg.png");
      background-size: cover;
      background-position:center;
  }
  
  @media(max-width:1011px){
      .imgpg{
          margin:0;
          padding:0;
          height:400px;
      }
  }
  @media(max-width:800px){
    .imgpg{
        margin:0;
        padding:0;
        height:200px;
    }
  }
 

/*-------------------------------------------how we work--------------------------------------------------------------------*/
#how-we-work{
    background-color: #f4f4f4;
}
#how-we-work h1{
    margin: 0px;
    padding: 0px;
}
.dash1{
    border:1px solid #B1308A;
    border-radius:80px;
    height:2.2px;
    background-color:#B1308A;
    margin:0 44%;
    width:12%;
}

.boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 280px 280px;
    grid-gap: 15px;
}
.how-we-work{
    padding: 10px;
    text-align: center;
}
.how-we-work h1{
    margin: 10px;
}
.box{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.box .img{
    text-align: center;
}
.box .t1{
    text-align: center;
}

.purple{
    margin: 0px;
    padding: 0px;
    color: #B1308A;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.black{
    font-size: 13px;
}

@media(max-width:840px){
    .boxes{
        display: block;
    }
}


/*-------------------------------------------HELP------------------------------------------------------------------------------------------------*/

.help-section{
    background: url("images/help3.png") no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 900;
}

.text{
    font-size: 17px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.end{
    display: flex;
    justify-content: space-between;
    font-weight:500;
    font-size:15px;
    color:#B1308A;
}

.end a{
    font-weight:500;
    color:#B1308A;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .help-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .help-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}

/*--------------------------------------what to donate------------------------------------------------------------------------------------*/
.what-to-donate{
    height:110%;
    background-image:url("images/donate3.png");
    background-size: cover;
    background-position:center;
}
@media(max-width:1011px){
    .what-to-donate{
        margin:0;
        padding:0;
        height:580px;
        
    }
}
@media(max-width:700px){
    .what-to-donate{
        height:300px;
    }
}

@media(max-width:550px){
    .what-to-donate{
        height:230px;
        
    }
}


/*-----------------------------------------footer-------------------------------------------------------------------------*/

.footerbody{
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
    min-height:40vh;
    background:#f4f4f4;
}

footer{
    position:relative;
    width:100%;
    background:#3586ff;
    min-height:100px;
    padding:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

footer .social_icon, 
footer .footer-menu{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:10px 0;
}

footer .social_icon li,
footer .footer-menu li{
    list-style:none;
}

footer .social_icon li a,
footer .footer-menu li a{ 
    font-size:2em;
    color:#ffff;
    margin:0 10px;
    display:inline-block;
    transition:0.5s;
}
footer .social_icon li a:hover{
    transform:translateY(-10px);
}

footer .footer-menu li a{
    font-size:1.2em;
    color:#ffff;
    margin:0 10px;
    display:inline-block;
    transition:0.5s;
    text-decoration:none;
    opacity:1;
}

footer .footer-menu li a:hover{
    color:rgb(179, 196, 196);
}

footer p{
    color:#ffff;
    text-align:center;
    margin-bottom:10px;
    font-size:1.1em;
}

footer .line{
    border:2px solid #ffff;
    border-width:0.2px;
    width:200px;
    opacity:0.6;
}
footer .footer-logo{
    color:#ffff;
    text-align:center;
    padding:2px;
    margin-top:5px;
    margin-bottom:5px;
    font-size:1.2em;
}

footer .wave{
    position:absolute;
    top:-100px;
    left:0;
    width:100%;
    height:100px;
    background:url("images/wave.png");
    background-size:1000px 100px;
}
footer .wave#wave1{
    z-index:100;
    opacity:1;
    bottom:0;
    animation:animateWave 5s linear infinite;
}
footer .wave#wave2{
    z-index:99;
    opacity:0.5;
    bottom:10px;
    animation:animateWave2 5s linear infinite;
}
footer .wave#wave3{
    z-index:100;
    opacity:0.2;
    bottom:15px;
    animation:animateWave 4s linear infinite;
}
footer .wave#wave4{
    z-index:99;
    opacity:0.7;
    bottom:20px;
    animation:animateWave2 4s linear infinite;
}
@keyframes animateWave{
    0%{
        background-position-x:1000px;
    }
    100%{
        background-position-x:0px;
    }
}
@keyframes animateWave2{
    0%{
        background-position-x:0px;
    }
    100%{
        background-position-x:1000px;
    }
}

@media(max-width:1500px){
    .footerbody{
        min-height:37vh;
    }
}

@media(max-width:900px){
    footer .wave{
        display:none
    }
    .footerbody{
        min-height:20vh;
    }
    /* .footerbody{
        justify-content:center;
        align-items:center;
        height:300px;
       
    }

    footer{
        height:300px;
        padding:0;
        margin:0;
    } */


    footer .social_icon li a,
    footer .footer-menu li a{ 
        font-size:1.5em;
        
    }
    footer .footer-menu li a{
        font-size:1em;
        
    }
    footer p{
        margin-bottom:10px;
        font-size:0.9em;
    }
    
    footer .line{
        border:2px solid #ffff;
        border-width:0.2px;
        width:150px;
        opacity:0.6;
    }
    footer .footer-logo{
        font-size:1em;
    }
}
@media(max-width:415px){
    footer{
        padding: 0;
        height: 18vh;
    }
    footer .social_icon{
        margin-bottom: 0;
    }
    footer .social_icon li a,
    footer .footer-menu li a{ 
        
        font-size:1.1em;
        margin-top: 3.5px;
        margin-bottom: 0;
    }
    footer .footer-menu li a{
        font-size:0.8em;
        margin: 0 5px;
    }
    footer p{
        margin-bottom:10px;
        font-size:0.7em;
    }
    
    footer .line{
        border:1px solid #ffff;
        border-width:0.2px;
        width:120px;
        opacity:0.6;
        margin: 0;
    }
    footer .footer-logo{
        font-size:0.6em;
        margin: 0;
    }
}
