@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@200;300&family=Ubuntu:wght@300&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:white;
    box-sizing:border-box;
    min-height:100vh;
    align-items:center;
    justify-content:center;
}

.home{
    height:100vh;
}
.home::before{
    top: 0;
    content: " ";
    position: absolute;
    background: url("/images/home.jpg") no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
}

.homeBox{
    display:flex;
    height:100%;
    /* width:100vw; */
    justify-content:center;
    align-items:center;
}
.homeBox::before{
    top:0;
    content: " ";
    position: absolute;
    background-color: black;
    width:100%;
    height:100%;
    z-index: -1;
    opacity: 0.55;
}
.homeBox .head1{
    color:white;
    font-weight: 800;
    font-size:35px;
    margin-top: 5%;
    text-align:center;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}
.homeBox .head2{
    color:white;
    font-weight:600;
    font-size:35px;
    text-align:center;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 5%;
    font-family: 'Ubuntu', sans-serif;
}

.homebtn{
    text-align: center;
}

.btn{
    border-radius: 8px;
    background-color: #B1308A;
    border: none;
    color: #16161d;
    text-align: center;
    font-size: 20px;
    font-weight:600;
    padding: 18px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 3%;
    box-shadow: 0.3rem 0 1.5rem #000;
  }

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

.btn:hover{
    background-color:#16161d;
    color:#B1308A;
  }

  .btn span:after {
    content: ' ';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
  }

  .btn:hover span {
    padding-right: 30px;
  }

  .btn:hover span:after {
    right: 0;
    color:black;
  }

  @media(max-width:820px){
    .btn{
        margin: 30px;
        padding: 13px;
        width: 180px;
        font-size: 18px;
        font-weight: 700;
    }
  }

  @media(max-width:600px){
    .homeBox .head1{
        margin-top: 50%;
        font-size: 25px;
    }
    .homeBox .head2{
        font-size: 20px;
    }
}
